### gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.settings/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.lock
rebel.xml

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### maven ###
target/
*.war
*.ear
*.zip
*.tar
*.tar.gz

### logs ####
/logs/
*.log

### temp ignore ###
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

### system ignore ###
.DS_Store
Thumbs.db
Servers
.metadata
upload
gen_code

### node ###
node_modules
doc/中间件docker-compse一键安装/canal/conf/example/meta.dat
doc/中间件docker-compse一键安装/canal/logs
doc/中间件docker-compse一键安装/elasticsearch/data
doc/中间件docker-compse一键安装/elasticsearch/logs
doc/中间件docker-compse一键安装/minio/data
doc/中间件docker-compse一键安装/mysql/data
doc/中间件docker-compse一键安装/nacos/logs
doc/中间件docker-compse一键安装/rocketmq/broker/logs
doc/中间件docker-compse一键安装/rocketmq/broker/store
doc/中间件docker-compse一键安装/rocketmq/namesrv/logs
doc/中间件docker-compse一键安装/rocketmq/namesrv/store
